---
- name: "Update Homebrew"
  community.general.homebrew:
    update_homebrew: true

- name: "Install go"
  community.general.homebrew:
    name: "go"
    state: latest

- name: "Install rust"
  import_tasks: "rust.yml"

- name: "Import nvim"
  import_tasks: "nvim.yml"

- name: "Import zed"
  import_tasks: "zed.yml"

- name: "Install copilot-cli"
  community.general.homebrew:
    name: "copilot-cli"
    state: latest

- name: "Install lazygit"
  community.general.homebrew:
    name: "lazygit"
    state: latest

- name: "Install delta"
  community.general.homebrew:
    name: "git-delta"
    state: latest

- name: "Import PostgreSQL dev tools"
  import_tasks: "pgtools.yml"

- name: "Import pgcli"
  import_tasks: "pgcli.yml"

- name: "Import llvm"
  import_tasks: "llvm.yml"

- name: "Checkout pyenv"
  community.general.homebrew:
    name: "pyenv"
    state: latest
